.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.loginSignup{
  background-color: pink;
  color: White;
  padding: 7px 15px;
  border-radius: 2rem;
  transition: 0.5s;
  border:none;
  margin-top: -1rem;

}
.loginSignup:hover{
  background-color: palevioletred;
}
.website__name {
  color: pink;
  font-size: 40px;
  font-weight: 800;
  margin-left: 160px;
}

.nav__options {
  display: flex;
  margin-right: 80px;
}

.nav__text {
  color: black;
  padding: 20px;
}

.nav__shade {
  color: palevioletred;
}
