/* .container {
  margin: 10px;
} */

.feature__text {
  font-size: 2rem;
  /* padding-top: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: Top;
  height: 50vh;
}

.feature__body {
  color: black;
  font-weight: 400;
  margin-top: 1rem;
  text-align: left;
}

.feature__heading {
  margin-top: 3rem;
  font-size: 3rem;
  color: black;
  text-align: left;
}

.feature__image {
  height: 70%;
  width: 70%;
  margin: 20px;
  border-radius: 20px;
}

@media all and (max-width: 1300px) {
  .feature__body {
    font-size: 1rem;
  }
}
@media all and (max-width: 600px) {
  .feature__heading {
    font-size: 2rem;
  }

  .feature__image {
    height: 0%;
    width: 0%;
    padding: 0;
  }

  .feature__text {
    height: max-content;
    padding-top: 1rem;
  }
}
